:root {
  --primary-color: #E694FF;
  --background-color: #121212;
  --foreground-color: #1e1e1e;
  --tertiary-background-color: #3F3F3F;
  --text-color: #FFFFFF;
  --secondary-text-color: #8B8B8B;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
