.page {
    display: grid;
    grid-template-rows: 20vh 60vh 20vh;
    align-items: center;
    justify-items: center;
    min-height: 100svh;
    font-family: var(--font-geist-sans);
  }

  .main {
    display: flex;
    text-align: center;
    max-width: 100vh;
    font-size: 14px;
    padding-bottom: 20vh;
  }

  .logo {
    align-self: center;
  }

  @media (max-width: 600px) {
    .page {
      padding: 32px;
      padding-bottom: 80px;
    }

    .main {
      align-items: center;
    }
  }