.selectorBox {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
    background-color: var(--foreground-color);
    border-radius: 10px;
    height: 80vh;
    max-width: 80%;
    align-content: flex-start;
    justify-content: center;
}

.selector {
    padding: 10px 15px;
    background-color: var(--tertiary-background-color);
    color: #ffffff;
    border-radius: 20px;
    font-size: 14px;
    white-space: nowrap;
    margin: 0 0 0 0;
    flex: 0 0 auto;
    height: auto;
}
