.page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    min-height: 100svh;
    font-family: var(--font-geist-sans);
  }

  .middle {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10vh;
    grid-column: 2;
  }

  .left, .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 80%;
}


  .middleContent {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    color: var(--secondary-text-color);
    align-items: center;
    max-width: 300px;
    text-align: center;
  }

  .logo {
    align-self: center;
  }

  @media (max-width: 600px) {
    .page {
      padding: 32px;
      padding-bottom: 80px;
    }

    .main {
      align-items: center;
    }

    .ctas {
      flex-direction: column;
    }
  }
